.portfolio-page { 
    min-height: 100vh; 
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #876A8B; 
}

.portfolio-title {
    font-family: 'Josefin Sans', sans-serif;
    /* size: 100rem;  */
    color: #F8F8FF; 
    text-align: center;
}

.p {
    font-family: 'Arimo', sans-serif;
    color:#F8F8FF; 
    text-align: center;
    padding: 30px;
}

.project-cards {
    margin:auto;
    
    text-align: center;  
    /* width:100% */
    /* padding-left: 50px */
}