.card {
    width: 200px; 
    height: 200px; 
    /* background: #88AE7D;  */
    /* padding: 10px;  
    margin: 30px; 
    border-radius: 15px; */
    display: inline-block; 
} 

/* .col {
  display: inline-block; 
} */

.row {
  display:inline-block; 
}

.card:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }

/* .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
    border-radius: 15px; 
  }
  .card > .img-container > img {
    width: 100%
  } */

.card-content {
  background-color: #D3D3D3
}

.card-title {

}

  .card-action {
  padding: 10px; 
}

  .fa-github-square {
    padding:3px; 
    color: #6D6E71
}

.fa-link {
    padding:3px; 
    color: #6D6E71
}

.fa-video {
    padding:3px; 
    color: #6D6E71
}
