.card {
    width: 315px; 
    height: 315px; 
    /* background: #D3D3D3;  */
    background: #F8F8FF;
    /* padding: 10px;  
    margin: 30px;  */
    border-radius: 15px;
    display: inline-block; 
} 

/* .col {
  display: inline-block; 
} */

.row {
  display:inline-block; 
}

.card:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }

/* .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
    /* border-radius: 15px;  */
  /* } */
  .card > .img-container > img {
    width: 100%
  } */

.card-content {
  background-color: white; 
  height: 150px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: x-large;
  color:  #876A8B; 
  font-weight: bold; 
  padding-bottom: 20px; 
}

.description {
  /* font-family: 'Arimo', sans-serif; */
  font-size: small; 
  color:  #6D6E71; 
}

  .card-action {
  background-color: #D3D3D3; 
  height: 80px;
  justify-content: center;
}

  .fa-github-square {
    padding-top: 12px;
    color: #876a8b
}

.fa-link {
    padding-top: 12px; 
    /* padding:3px;  */
    color: #876a8b
}

/* .fa-video {
    padding:3px; 
    color: #6D6E71
} */

.fa-laptop-code {
  padding:3px; 
  color: #6D6E71; 
  text-align: center
}

.image {
  width: 215px; 
  height: 125x; 
}
