.about-page { 
    min-height: 100vh; 
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray; 
}

.about-title {
    font-family: 'Arimo', sans-serif;
    /* size: 100rem;  */
    color:#6D6E71; 
     
    text-align: center;
}

.about-text {
    font-family: 'Arimo', sans-serif;
    color:#6D6E71; 
    text-align: center;
    padding: 30px;
}

.tech-icons {
    padding-left: 30px; 
    text-align: center;
}

.fa-html5, .fa-css3-alt, .fa-js, .fa-node-js, .fa-react, .fa-database  {
    color:#6D6E71; 

}



