.landing-page { 
    min-height: 100vh; 
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #876A8B; 
}

.disclaimer {
    font-family: 'Arimo', sans-serif;
    /* size: 100rem;  */
    color: white; 
    padding-left: 30px; 
}

.intro {
    font-family: 'Arimo', sans-serif;
    /* size: 100rem;  */
    color: white; 
    text-align: center; 
}

.tagline {
    font-family: 'Arimo', sans-serif;
    /* size: 100rem;  */
    color: white; 
    text-align: center; 
}

.social {
    text-align: center;
}

.fab {
    color:white;
    padding: 15px; 
}

.fa-3x {
    color: white
}

.fas {
    color:white; 
    padding: 15px; 
}