.landing-page { 
    min-height: 100vh; 
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #876A8B; 
}

.intro {
    font-family: 'Arimo', sans-serif;
    /* size: 100rem;  */
    color: white; 
    padding-left: 30px; 
}

.tagline {
    font-family: 'Arimo', sans-serif;
    /* size: 100rem;  */
    color: white; 
    padding-left: 30px; 
}

.social {
    padding-left: 30px; 
}

.fab {
    color:white
}